<!DOCTYPE html>
<html>
<head>
    <title>reg</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="login" onsubmit="return false" method="post" >
    <div>用户名： <input type="text" id="name" name="uname"/> </div>
    <div>密码： <input type="password"  id="pwd" name="pwd"/> </div>
    <div id="pwd2">确认密码： <input type="password" name="pwd2"/> </div>
    <input type="submit" id="btn" value="提交"/>
</form>
<script src="/javascripts/jquery-1.11.2.js"></script>
<script>
    $(function(){
        $('#btn').on('click',function(){
            var name=$('#name').val();
            var p1=$('#pwd').val();
            var p2=$('#pwd2').val();
            $.get('regist',{
                name:name,
                pwd:p1,
                pwd2:p2
            },function(data){
                if(data=='pwd-error'){
                    $('#pwd2').after('密码不一致')
                }else{
                    $('#pwd2').after('success')
                }
            },'text')

        });
    });
</script>
</body>
</html>
